<div id="<%= dom_id club %>">
  <p>
    <strong>Nombre:</strong>
    <%= club.nombre %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= club.direccion %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= club.estado %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= club.municipio %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= club.telefono %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= club.email %>
  </p>

  <p>
    <strong>Representante:</strong>
    <%= club.representante %>
  </p>

</div>
