<div id="<%= dom_id verificacion %>">
  <p>
    <strong>Codigo:</strong>
    <%= verificacion.codigo %>
  </p>

  <p>
    <strong>Verificado whatsapp:</strong>
    <%= verificacion.verificado_whatsapp %>
  </p>

  <p>
    <strong>Verificado correo:</strong>
    <%= verificacion.verificado_correo %>
  </p>

  <p>
    <strong>Verificado:</strong>
    <%= verificacion.verificado %>
  </p>

  <p>
    <strong>Fecha expiracion:</strong>
    <%= verificacion.fecha_expiracion %>
  </p>

  <p>
    <strong>User:</strong>
    <%= verificacion.user_id %>
  </p>

</div>
