<div id="<%= dom_id vehiculo %>" class="bg-white rounded-lg shadow-lg p-6 sm:p-8">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">Detalles del Vehículo</h2>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div>
      <p class="text-gray-700"><strong class="block text-sm font-medium text-gray-500">Marca:</strong> <%= vehiculo.marca %></p>
    </div>

    <div>
      <p class="text-gray-700"><strong class="block text-sm font-medium text-gray-500">Modelo:</strong> <%= vehiculo.modelo %></p>
    </div>

    <div>
      <p class="text-gray-700"><strong class="block text-sm font-medium text-gray-500">Submarca:</strong> <%= vehiculo.submarca %></p>
    </div>

    <div>
      <p class="text-gray-700"><strong class="block text-sm font-medium text-gray-500">Año:</strong> <%= vehiculo.anio %></p>
    </div>

    <div>
      <p class="text-gray-700"><strong class="block text-sm font-medium text-gray-500">Placa:</strong> <%= vehiculo.placa %></p>
    </div>

    <div>
      <p class="text-gray-700"><strong class="block text-sm font-medium text-gray-500">Estado de emplacamiento:</strong> <%= vehiculo.estado_emplacamiento %></p>
    </div>

    <div>
      <p class="text-gray-700"><strong class="block text-sm font-medium text-gray-500">VIN:</strong> <%= vehiculo.vin %></p>
    </div>

    <div>
      <p class="text-gray-700"><strong class="block text-sm font-medium text-gray-500">Usuario:</strong> <%= vehiculo.user.email %></p>
    </div>

    <div class="col-span-1 sm:col-span-2">
      <p class="text-gray-700">
        <strong class="block text-sm font-medium text-gray-500 mb-2">Status:</strong>
        <% if vehiculo.status == 'in_progress' %>
          <span class="px-2 py-1 text-sm font-semibold text-yellow-800 bg-yellow-100 rounded-full">En Progreso</span>
          <p class="text-yellow-700 mt-2">Debe completar el registro en el módulo de la SSP.</p>
        <% elsif vehiculo.status == 'active' %>
          <span class="px-2 py-1 text-sm font-semibold text-green-800 bg-green-100 rounded-full">Registrado</span>
        <% elsif vehiculo.status == 'inactive' %>
          <span class="px-2 py-1 text-sm font-semibold text-red-800 bg-red-100 rounded-full">Inválido</span>
        <% end %>
      </p>
    </div>
  </div>
</div>