<div id="<%= dom_id vehiculo %>">
  <p>
    <strong>Marca:</strong>
    <%= vehiculo.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= vehiculo.modelo %>
  </p>

  <p>
    <strong>Submarca:</strong>
    <%= vehiculo.submarca %>
  </p>

  <p>
    <strong>Anio:</strong>
    <%= vehiculo.anio %>
  </p>

  <p>
    <strong>Placa:</strong>
    <%= vehiculo.placa %>
  </p>

  <p>
    <strong>Estado emplacamiento:</strong>
    <%= vehiculo.estado_emplacamiento %>
  </p>

  <p>
    <strong>Vin:</strong>
    <%= vehiculo.vin %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vehiculo.user_id %>
  </p>

</div>
