<div id="<%= dom_id club %>" class="bg-white rounded-lg shadow-lg p-6 sm:p-8">
  <h2 class="text-2xl font-bold text-gray-800 mb-6">Detalles del Club</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div>
      <p class="text-gray-700">
        <strong class="block text-sm font-medium text-gray-500">Nombre:</strong>
        <%= club.nombre %>
      </p>
    </div>      

    <div>
      <p class="text-gray-700">
        <strong class="block text-sm font-medium text-gray-500">Direccion:</strong>
        <%= club.direccion %>
      </p>
    </div>  

    <div>
      <p class="text-gray-700">
        <strong class="block text-sm font-medium text-gray-500">Estado:</strong>
        <%= club.estado %>
      </p>
    </div>  

    <div>
      <p class="text-gray-700">
        <strong class="block text-sm font-medium text-gray-500">Municipio:</strong>
        <%= club.municipio %>
      </p>
    </div>  
    <div>
      <p class="text-gray-700">
        <strong class="block text-sm font-medium text-gray-500">Telefono:</strong>
        <%= club.telefono %>
      </p>
    </div>
    <div>
      <p class="text-gray-700">
        <strong class="block text-sm font-medium text-gray-500">Email:</strong>
        <%= club.email %>
      </p>
    </div>
    <div>
      <p class="text-gray-700">
        <strong class="block text-sm font-medium text-gray-500">Representante:</strong>
        <%= club.representante %>
      </p>
    </div> 
  </div>

</div>
