<!-- app/views/vehiculos/public_show.html.erb -->
<div class="min-h-screen bg-gray-100 py-8">
  <div class="max-w-3xl mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
    <!-- Encabezado -->
    <div class="bg-[#AB0A3D] p-6">
      <h1 class="text-3xl font-bold text-white text-center">Información del Vehículo</h1>
    </div>

    <!-- Contenido -->
    <div class="p-6">
      <!-- Sección del Vehículo -->
      <div class="mb-8">
        <h2 class="text-2xl font-semibold text-[#3D3935] mb-4">Datos del Vehículo</h2>
        <div class="space-y-3">
          <p class="text-[#3D3935]"><span class="font-medium">Marca:</span> <%= @vehicle.marca %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Modelo:</span> <%= @vehicle.modelo %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Linea:</span> <%= @vehicle.linea %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Placa:</span> <%= @vehicle.placa %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Número de serie:</span> <%= @vehicle.numero_serie %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Estado de Emplacamiento:</span> <%= @vehicle.estado_emplacamiento %></p>
        </div>
      </div>

      <!-- Sección del Propietario -->
      <div>
        <h2 class="text-2xl font-semibold text-[#3D3935] mb-4">Datos del Propietario</h2>
        <div class="space-y-3">
          <p class="text-[#3D3935]"><span class="font-medium">Nombre:</span> <%= @user.nombre %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Apellido Paterno:</span> <%= @user.apellido_paterno %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Apellido Materno:</span> <%= @user.apellido_materno %></p>
          <p class="text-[#3D3935]"><span class="font-medium">CURP:</span> <%= @user.curp %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Teléfono:</span> <%= @user.telefono %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Contacto de Emergencia:</span> <%= @user.contacto_emergencia %></p>
          <p class="text-[#3D3935]"><span class="font-medium">Teléfono de Emergencia:</span> <%= @user.telefono_emergencia %></p>
        </div>
      </div>
    </div>
  </div>
</div>
