<div id="<%= dom_id pases_turistico %>">
  <p>
    <strong>Fecha emision:</strong>
    <%= pases_turistico.fecha_emision %>
  </p>

  <p>
    <strong>Duracion dias:</strong>
    <%= pases_turistico.duracion_dias %>
  </p>

  <p>
    <strong>Qr code:</strong>
    <%= pases_turistico.qr_code %>
  </p>

  <p>
    <strong>Vigente:</strong>
    <%= pases_turistico.vigente %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pases_turistico.user_id %>
  </p>

</div>
